{% extends 'layout-default.html.twig' %}

{% block title %}
    {% if consultation.humantitle is defined and consultation.humantitle is not null %}
        {{ consultation.humantitle }}
    {% else %}
        {{ consultation.title }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="bg-white">
        <div>

            {% include 'consultation/__header.html.twig' %}

            <section class="bg-gray-50 mt-8 pt-4 pb-6">

                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-6 md:pb-12 my-4">

                    <div class="grid grid-cols-4">
                        <div class="mt-4 md:mt-12 xl:mt-14 flex gap-4 md:gap-8 col-span-4 md:col-span-1">
                            <div>
                                {% if proposals|length > 1
                                    or (
                                    (consultation.status == 'done'
                                    or
                                    consultation.status == 'pending_report'
                                    or
                                    consultation.status == 'pending_statements_report')
                                    )
                                %}
                                    <h2 class="mt-4 text-xl text-gray-400 font-medium">Vernehmlassungsvorlage</h2>
                                    <div class="mt-2 p-4 bg-white text-gray-700 shadow">

                                        {% for proposal in proposals %}
                                            <p class="mt-2">
                                                <a href="{{ proposal.fedlexFilePath }}"
                                                   target="_blank"
                                                   class="text-gray-600 hover:text-gray-500 underline hover:no-underline"
                                                >{{ proposal.title }}</a> {% if proposal.imported == 'paragraphed' %}<i class="text-green-600 fa-solid fa-check"></i>{% else %} <a href="{{ path('app_consultation_import_legal', { 'uuid': proposal.uuid  }) }}"><i class="text-gray-500 fa-solid
                                                {% if (consultation.status == 'done'
                                                        or
                                                        consultation.status == 'pending_report'
                                                        or
                                                        consultation.status == 'pending_statements_report')
                                                %}
                                                    fa-arrow-up-right-from-square
                                                {% else %}
                                                    fa-file-import
                                                {% endif %}
                                                "></i></a>{% endif %}
                                            </p>
                                        {% endfor %}

                                    </div>
                                {% endif %}
                                <h2 class="mt-4 text-xl text-gray-400 font-medium">{{ 'consultation.documents'|trans }}</h2>
                                <div class="mt-2 p-4 bg-white text-gray-700 shadow mr-1 md:mr-8">
                                    {% for document in documents %}
                                        <p class="mt-2">
                                            <a href="{{ document.fedlexFilePath }}"
                                               target="_blank"
                                               class="text-gray-600 hover:text-gray-500 underline hover:no-underline"
                                            >{{ document.title }}</a>
                                            <i class="fa-regular fa-arrow-up-right-from-square"></i>
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if not
                            (consultation.status == 'done'
                            or
                            consultation.status == 'pending_report'
                            or
                            consultation.status == 'pending_statements_report')
                        %}
                            <div class="mt-4 md:mt-12 xl:mt-14 flex gap-4 md:gap-8 col-span-4 md:col-span-3">
                                <div>
                                    <h2 class="mt-4 text-xl text-gray-600 font-medium">Vernehmlassungsvorlage{% if proposals|length > 1 %}n{% endif%} importieren</h2>
                                    <p class="mt-2 text-gray-400">
                                        Bevor eine Stellungnahme abgegeben werden kann, {% if proposals|length > 1 %}müssen die Vernehmlassungsvorlagen{% else%}muss die Vernehmlassungsvorlage{% endif%} importiert werden.
                                    </p>
                                    <div class="mt-4 space-y-4">
                                        <a href="mailto:team@demokratis.ch" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Import anfragen</a>
                                        {% if app.user %}
                                            {% for proposal in proposals|filter(proposal => proposal.imported != 'paragraphed') %}
                                                <a href="{{ path('app_consultation_import_legal', { 'uuid': proposal.uuid }) }}" class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-700 focus:ring-offset-2 border-gray-300 bg-gray-100 text-gray-500 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2">{{ proposal.title }} importieren</a>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </section>

        </div>
    </div>

{% endblock %}
