{% extends 'layout-default.html.twig' %}

{% block title %}Vernehmlassungsverfahren{% endblock %}

{% block body %}
    <div class="bg-white">
        <div>

            {#
            <!--
              Mobile filter dialog

              Off-canvas filters for mobile, show/hide based on off-canvas filters state.
            -->
            <div class="relative z-40 lg:hidden" role="dialog" aria-modal="true">
                <!--
                  Off-canvas menu backdrop, show/hide based on off-canvas menu state.

                  Entering: "transition-opacity ease-linear duration-300"
                    From: "opacity-0"
                    To: "opacity-100"
                  Leaving: "transition-opacity ease-linear duration-300"
                    From: "opacity-100"
                    To: "opacity-0"
                -->
                <div class="fixed inset-0 bg-black bg-opacity-25"></div>

                <div class="fixed inset-0 z-40 flex">
                    <!--
                      Off-canvas menu, show/hide based on off-canvas menu state.

                      Entering: "transition ease-in-out duration-300 transform"
                        From: "translate-x-full"
                        To: "translate-x-0"
                      Leaving: "transition ease-in-out duration-300 transform"
                        From: "translate-x-0"
                        To: "translate-x-full"
                    -->
                    <div class="relative ml-auto flex h-full w-full max-w-xs flex-col overflow-y-auto bg-white py-4 pb-12 shadow-xl">
                        <div class="flex items-center justify-between px-4">
                            <h2 class="text-lg font-medium text-gray-900">Filters</h2>
                            <button type="button" class="-mr-2 flex h-10 w-10 items-center justify-center rounded-md bg-white p-2 text-gray-400">
                                <span class="sr-only">Close menu</span>
                                <!-- Heroicon name: outline/x-mark -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>

                        <!-- Filters -->
                        <form class="mt-4 border-t border-gray-200">
                            <h3 class="sr-only">Categories</h3>
                            <ul role="list" class="px-2 py-3 font-medium text-gray-900">
                                <li>
                                    <a href="#" class="block px-2 py-3">Totes</a>
                                </li>

                                <li>
                                    <a href="#" class="block px-2 py-3">Backpacks</a>
                                </li>

                                <li>
                                    <a href="#" class="block px-2 py-3">Travel Bags</a>
                                </li>

                                <li>
                                    <a href="#" class="block px-2 py-3">Hip Bags</a>
                                </li>

                                <li>
                                    <a href="#" class="block px-2 py-3">Laptop Sleeves</a>
                                </li>
                            </ul>

                            <div class="border-t border-gray-200 px-4 py-6">
                                <h3 class="-mx-2 -my-3 flow-root">
                                    <!-- Expand/collapse section button -->
                                    <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-0" aria-expanded="false">
                                        <span class="font-medium text-gray-900">Color</span>
                                        <span class="ml-6 flex items-center">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                                            <!--
                                              Collapse icon, show/hide based on section open state.

                                              Heroicon name: mini/minus
                                            -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                                    </button>
                                </h3>
                                <!-- Filter section, show/hide based on section state. -->
                                <div class="pt-6" id="filter-section-mobile-0">
                                    <div class="space-y-6">
                                        <div class="flex items-center">
                                            <input id="filter-mobile-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-color-0" class="ml-3 min-w-0 flex-1 text-gray-500">White</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-color-1" name="color[]" value="beige" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-color-1" class="ml-3 min-w-0 flex-1 text-gray-500">Beige</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-color-2" name="color[]" value="blue" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-color-2" class="ml-3 min-w-0 flex-1 text-gray-500">Blue</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-color-3" name="color[]" value="brown" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-color-3" class="ml-3 min-w-0 flex-1 text-gray-500">Brown</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-color-4" name="color[]" value="green" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-color-4" class="ml-3 min-w-0 flex-1 text-gray-500">Green</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-color-5" name="color[]" value="purple" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-color-5" class="ml-3 min-w-0 flex-1 text-gray-500">Purple</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border-t border-gray-200 px-4 py-6">
                                <h3 class="-mx-2 -my-3 flow-root">
                                    <!-- Expand/collapse section button -->
                                    <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-1" aria-expanded="false">
                                        <span class="font-medium text-gray-900">Category</span>
                                        <span class="ml-6 flex items-center">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                                            <!--
                                              Collapse icon, show/hide based on section open state.

                                              Heroicon name: mini/minus
                                            -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                                    </button>
                                </h3>
                                <!-- Filter section, show/hide based on section state. -->
                                <div class="pt-6" id="filter-section-mobile-1">
                                    <div class="space-y-6">
                                        <div class="flex items-center">
                                            <input id="filter-mobile-category-0" name="category[]" value="new-arrivals" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-category-0" class="ml-3 min-w-0 flex-1 text-gray-500">Consultations</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-category-1" name="category[]" value="sale" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-category-1" class="ml-3 min-w-0 flex-1 text-gray-500">Sale</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-category-2" name="category[]" value="travel" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-category-2" class="ml-3 min-w-0 flex-1 text-gray-500">Travel</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-category-3" name="category[]" value="organization" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-category-3" class="ml-3 min-w-0 flex-1 text-gray-500">Organization</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-category-4" name="category[]" value="accessories" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-category-4" class="ml-3 min-w-0 flex-1 text-gray-500">Accessories</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="border-t border-gray-200 px-4 py-6">
                                <h3 class="-mx-2 -my-3 flow-root">
                                    <!-- Expand/collapse section button -->
                                    <button type="button" class="flex w-full items-center justify-between bg-white px-2 py-3 text-gray-400 hover:text-gray-500" aria-controls="filter-section-mobile-2" aria-expanded="false">
                                        <span class="font-medium text-gray-900">Size</span>
                                        <span class="ml-6 flex items-center">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                    </svg>
                                            <!--
                                              Collapse icon, show/hide based on section open state.

                                              Heroicon name: mini/minus
                                            -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H3.75A.75.75 0 013 10z" clip-rule="evenodd" />
                    </svg>
                  </span>
                                    </button>
                                </h3>
                                <!-- Filter section, show/hide based on section state. -->
                                <div class="pt-6" id="filter-section-mobile-2">
                                    <div class="space-y-6">
                                        <div class="flex items-center">
                                            <input id="filter-mobile-size-0" name="size[]" value="2l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-size-0" class="ml-3 min-w-0 flex-1 text-gray-500">2L</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-size-1" name="size[]" value="6l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-size-1" class="ml-3 min-w-0 flex-1 text-gray-500">6L</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-size-2" name="size[]" value="12l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-size-2" class="ml-3 min-w-0 flex-1 text-gray-500">12L</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-size-3" name="size[]" value="18l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-size-3" class="ml-3 min-w-0 flex-1 text-gray-500">18L</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-size-4" name="size[]" value="20l" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-size-4" class="ml-3 min-w-0 flex-1 text-gray-500">20L</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-mobile-size-5" name="size[]" value="40l" type="checkbox" checked class="h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500">
                                            <label for="filter-mobile-size-5" class="ml-3 min-w-0 flex-1 text-gray-500">40L</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            #}

            <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <div class="flex items-baseline justify-between pt-12 md:pt-16 pb-6">
                    <a href="{{ path('app_consultation') }}"><h1 class="text-2xl sm:text-3xl md:text-4xl xl:text-6xl font-bold tracking-tight text-gray-700 hover:text-gray-600">{{ 'consultation.procedures'|trans }}</h1></a>




                    {#
                    <div class="flex items-center">
                        <div class="relative inline-block text-left">
                            <div>
                                <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" id="menu-button" aria-expanded="false" aria-haspopup="true">
                                    Sort
                                    <!-- Heroicon name: mini/chevron-down -->
                                    <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                    </svg>
                                </button>
                            </div>

                            <!--
                              Dropdown menu, show/hide based on menu state.

                              Entering: "transition ease-out duration-100"
                                From: "transform opacity-0 scale-95"
                                To: "transform opacity-100 scale-100"
                              Leaving: "transition ease-in duration-75"
                                From: "transform opacity-100 scale-100"
                                To: "transform opacity-0 scale-95"
                            -->
                            <div class="absolute right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                                <div class="py-1" role="none">
                                    <!--
                                      Active: "bg-gray-100", Not Active: ""

                                      Selected: "font-medium text-gray-900", Not Selected: "text-gray-500"
                                    -->
                                    <a href="#" class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Most Popular</a>

                                    <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Most controversial</a>

                                    <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Most contributions</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    #}
                </div>

                {# Search #}
                <div>
                    {{ component('search_consultations') }}
                </div>


                {# Filter #}
                <section aria-labelledby="products-heading" class="pt-6 pb-24">
                    <h2 id="products-heading" class="sr-only">Products</h2>

                    <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
                        <!-- Filters -->
                        <form class="hidden lg:block">
                            <h3 class="sr-only">Categories</h3>
                            <ul role="list" class="space-y-4 border-b border-gray-200 pb-6 text-sm text-gray-500">
                                <li>
                                    <a href="{{ path('app_consultation') }}" class="{% if filter == 'all' %}text-blue-600{% else %} hover:text-gray-900{% endif %}">{{ 'consultation.status.all'|trans }}</a>
                                </li>

                                <li>
                                    <a href="{{ path('app_consultation', { 'filter': 'ongoing' }) }}" class="{% if filter == 'ongoing' %}text-blue-600{% else %} hover:text-gray-900{% endif %}">{{ 'consultation.status.ongoing'|trans }} <span class="ml-1 bg-gray-100 rounded text-gray-400 text-xs p-1">{{ ongoingCount }}</span></a>
                                </li>

                                <li>
                                    <a href="{{ path('app_consultation', { 'filter': 'planned' }) }}" class="{% if filter == 'planned' %}text-blue-600{% else %} hover:text-gray-900{% endif %}">{{ 'consultation.status.planned'|trans }} <span class="ml-1 bg-gray-100 rounded text-gray-400 text-xs p-1">{{ plannedCount }}</a>
                                </li>

                                <li>
                                    <a href="{{ path('app_consultation', { 'filter': 'done' }) }}" class="{% if filter == 'done' %}text-blue-600{% else %} hover:text-gray-900{% endif %}">{{ 'consultation.status.done'|trans }} <span class="ml-1 bg-gray-100 rounded text-gray-400 text-xs p-1">{{ doneCount }}</a>
                                </li>
                            </ul>

                            <div class="border-b border-gray-200 py-4 text-sm text-gray-600">
                                {% if currentTag is not null %}
                                    <p><a href="{{ path('app_consultation', { 'filter': filter }) }}" class="mr-2 pb-2 underline hover:no-underline text-gray-400 text-xs">Auswahl aufheben</a></p>
                                {% endif %}
                                {% for tag in tags %}
                                    <a href="?t={{ tag.slug }}" class="inline-block mt-1 p-1.5 {% if currentTag is not null and tag.id == currentTag.id %}bg-blue-100 border-blue-300 text-blue-400{% else %}bg-gray-50 hover:bg-gray-100 hover:border-gray-300{% endif%} border border-gray-200 text-gray-400 text-xs rounded-xl">{{ tag.name }}</a>
                                {% else %}
                                    Es gibt keine Tags
                                {% endfor %}
                            </div>

                            <div class="border-b border-gray-50 py-6">
                                <h3 class="-my-3">
                                    <span class="py-3 text-sm font-medium text-gray-300">{{ 'contributors.contributors'|trans }}</span>
                                </h3>
                                <!-- Filter section, show/hide based on section state. -->
                                <div class="pt-6" id="filter-section-0">
                                    <div class="space-y-4">
                                        <div class="flex items-center">
                                            <input id="filter-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-200 text-blue-600 focus:ring-blue-500" disabled>
                                            <label for="filter-color-0" class="ml-3 text-sm text-gray-300">{{ 'contributors.my_own'|trans }}</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-color-1" name="color[]" value="beige" type="checkbox" class="h-4 w-4 rounded border-gray-200 text-blue-600 focus:ring-blue-500" disabled>
                                            <label for="filter-color-1" class="ml-3 text-sm text-gray-300">{{ 'contributors.contributed'|trans }}</label>
                                        </div>

                                        <div class="flex items-center">
                                            <input id="filter-color-2" name="color[]" value="blue" type="checkbox" class="h-4 w-4 rounded border-gray-200 text-blue-600 focus:ring-blue-500" disabled>
                                            <label for="filter-color-2" class="ml-3 text-sm text-gray-300">{{ 'contributors.by_organisation'|trans }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h3 class="mt-3">
                                <span class="py-3 text-sm font-medium text-gray-300">{{ 'time_period.time_period'|trans }}</span>
                            </h3>
                            <ul role="list" class="mt-4 space-y-4 border-b border-gray-50 pb-6 text-sm text-gray-200">
                                <li>
                                    <p href="#" class="">{{ 'time_period.last_week'|trans }}</p>
                                </li>

                                <li>
                                    <p href="#" class="font-medium">{{ 'time_period.last_month'|trans }}</p>
                                </li>

                                <li>
                                    <p href="#" class="">{{ 'time_period.last_quarter'|trans }}</p>
                                </li>

                                <li>
                                    <p href="#" class="">{{ 'time_period.last_year'|trans }}</p>
                                </li>
                            </ul>

                        </form>

                        <!-- Consultation grid -->
                        <div class="lg:col-span-3">

                            <div class="divide-y sm:p-4 divide-gray-200 overflow-hidden sm:bg-gray-50 sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0">

                                {% for consultation in consultations %}
                                    <div class="flex flex-col m-4 rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white shadow hover:shadow-md p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500">
                                        <div>
                                            {% include 'consultation/__statusTab.html.twig' %}
                                        </div>
                                        <div class="mt-8">
                                            <h3 class="text-lg font-medium">
                                                <a href="{{ path('app_consultation_show_statements', { 'slug': consultation.slug }) }}" class="focus:outline-none">
                                                    <!-- Extend touch target to entire panel -->
                                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                                    {% if consultation.humantitle is defined and consultation.humantitle is not null %}
                                                        {{ consultation.humantitle|u.truncate(110, ' ...') }}
                                                    {% else %}
                                                        {{ consultation.title|u.truncate(110, ' ...') }}
                                                    {% endif %}
                                                </a>
                                            </h3>
                                            <p class="mt-2 text-sm text-gray-500">{{ consultation.description|u.truncate(185, ' ...') }}</p>
                                        </div>
                                        <span class="pointer-events-none absolute top-6 right-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
                                          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                                            <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
                                          </svg>
                                        </span>

                                        {# Institutions, Tags & Dates #}
                                        <div class="mt-3 -ml-2 col-span-2">
                                            <span class="inline-block mt-1 p-1.5 bg-gray-50 border border-gray-200 text-gray-400 text-xs rounded-xl">{{ consultation.office|default() }}</span>
                                            <span class="inline-block mt-1 p-1.5 bg-gray-50 border border-gray-200 text-gray-400 text-xs rounded-xl">{{ consultation.institution|default() }}</span>

                                            {% for tag in consultation.tags %}
                                                <span class="inline-block mt-1 p-1.5 bg-gray-50 border border-gray-200 text-gray-400 text-xs rounded-xl">{{ tag.name }}</span>
                                            {% endfor %}
                                        </div>
                                        {% if consultation.startDate is defined and consultation.startDate is not null and consultation.endDate is defined and consultation.endDate is not null %}
                                            <p class="pt-4 mt-auto w-full text-gray-300 text-xs">{{ consultation.startDate|date('d. m. Y')|default() }} - {{ consultation.endDate|date('d. m. Y')|default() }}</p>
                                        {% endif %}
                                </div>


                                {% else %}
                                    <div class="col-span-2 m-4 rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white shadow p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-500">
                                        <div class="">
                                            <h3 class="text-lg font-medium">
                                                <a href="#" class="focus:outline-none text-gray-600">
                                                    <!-- Extend touch target to entire panel -->
                                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                                    Nothing to show
                                                </a>
                                            </h3>
                                            <p class="mt-2 text-sm text-gray-500">There are no relevant consultations available</p>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>

                            <div class="pb-16">
                                <!-- Pagination -->
                                {% include 'partials/_paginator.html.twig' with {
                                    'entities': consultations,
                                    'offset': offset,
                                    'steps': steps,
                                }
                                %}
                            </div>

                        </div>
                    </div>
                </section>
            </main>
        </div>
    </div>

{% endblock %}
