{% extends 'layout-default.html.twig' %}

{% block title %}Stellungnahmen{% endblock %}

{% block body %}
    <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class=" pt-12 md:pt-16 pb-6">

            {# Breadcrumbs #}
            <nav class="flex py-4 sm:pt-6 lg:pt-8" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                    <li>
                        <div>
                            <a href="{{ path('app_index') }}" class="text-gray-400 hover:text-gray-500">
                                <i class="fa-solid fa-house"></i>
                                <span class="sr-only">Home</span>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="flex items-center">
                            <i class="fas fa-chevron-right text-xs text-gray-400"></i>
                            <a href="{{ path('app_statement_index') }}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Stellungnahmen</a>
                        </div>
                    </li>
                </ol>
            </nav>

            <h1 class="text-2xl sm:text-3xl md:text-4xl xl:text-6xl font-bold tracking-tight text-gray-700">Stellungnahmen</h1>

            <h2 class="mt-8 text-xl text-gray-400 font-medium">Öffentliche Stellungnahmen</h2>
            <div class="mt-2 bg-gray-100 py-4 px-12">

                <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                    {% for statement in statements %}
                        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                            <div class="flex-shrink-0">
                                {% if statement.organisation.logo is defined and statement.organisation.logo is not null %}
                                    <img class="mx-auto h-32 w-32 flex-shrink-0 rounded-full border border-solid" src="{{ asset('uploads/'~statement.organisation.logo) }}" alt="">
                                {% else %}
                                    <div class="mx-auto h-12 w-12 bg-gray-50 group-hover:bg-gray-100 flex items-center justify-center h-screen rounded-full border border-solid">
                                        <span class="text-sm text-gray-300">{{ statement.organisation.name|u.truncate(1) }}</span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="min-w-0 flex-1">
                                <a href="{{ path('app_statement_show', { 'uuid': statement.uuid }) }}" class="focus:outline-none">
                                    <span class="absolute inset-0" aria-hidden="true"></span>
                                    <p class="text-sm font-medium text-gray-900">{{ statement.name }} <span class="font-normal text-gray-400">{{ statement.consultation|u.truncate(15, '...') }}</span></p>
                                    <p class="truncate text-sm text-gray-500">{{ statement.organisation }}</p>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

            {% if externalStatements|length > 0 %}
                <h2 class="mt-8 text-xl text-gray-400 font-medium">Extern verfasste Stellungnahmen</h2>
                <div class="mt-2 bg-gray-100 py-4 px-12">

                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                        {% for statement in externalStatements %}
                            <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
                                <div class="flex-shrink-0">
                                    {% if statement.organisation.logo is defined and statement.organisation.logo is not null %}
                                        <img class="mx-auto h-32 w-32 flex-shrink-0 rounded-full border border-solid" src="{{ asset('uploads/'~statement.organisation.logo) }}" alt="">
                                    {% else %}
                                        <div class="mx-auto h-12 w-12 bg-gray-50 group-hover:bg-gray-100 flex items-center justify-center h-screen rounded-full border border-solid">
                                            <span class="text-sm text-gray-300">{{ statement.organisation.name|u.truncate(1) }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="min-w-0 flex-1">
                                    <a href="{{ path('app_external_statement_show', { 'uuid': statement.uuid }) }}" class="focus:outline-none">
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        <p class="text-sm font-medium text-gray-900">{{ statement.name }} <span class="font-normal text-gray-400">{{ statement.consultation|u.truncate(15, '...') }}</span></p>
                                        <p class="truncate text-sm text-gray-500">{{ statement.organisation }}</p>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
