<div{{ attributes }} class="h-full z-50">
    <div class="h-full cursor-pointer opacity-80 hover:opacity-100" data-action="click->live#action" data-action-name="setOverlayOpen(open=1)" onclick="document.body.style.overflowY = 'hidden';">
        <button class="mt-2 text-gray-400 text-sm underline hover:no-underline">Alle Kommentare anzeigen ({{ this.thread is not null ? this.thread.getComments()|length : 0 }})</button>

        {% if this.thread is not null %}
            {% include "comment/paragraph_comments_preview.html.twig" with {thread: this.thread} only %}
        {% endif %}
    </div>

    {% if overlayOpen %}
        <div class="fixed top-0 left-0 right-0 bottom-0 bg-black/75 flex z-50">
            <div class="hidden md:block w-2/3 z-20 overflow-y-scroll">
                <p class="m-20 mb-30 p-6 bg-white border shadow text-md text-gray-600">
                    {% for diff in this.getDiff() %}
                        <span class="{% if diff[0] == -1 %}bg-red-100 line-through text-red-800{% elseif diff[0] == 1 %}bg-green-100 text-green-800{% endif %}">
                            {{ diff[1]|nl2br }}
                        </span>
                    {% endfor %}
                </p>
            </div>

            <div class="md:w-1/3 h-screen bg-white z-50 flex flex-col">
                <div class="p-8 pb-4">
                    <button class="text-gray-600 hover:text-gray-800 p-2 hover:bg-white hover:border-gray-400 hover:shadow rounded-md float-right" data-action="live#action" data-action-name="setOverlayOpen(open=0)" onclick="document.body.style.overflowY = 'scroll';"><i class="fas fa-lg fa-fw fa-close"></i></button>
                    <h1 class="text-3xl">{{ this.thread is not null ? this.thread.getComments()|length : 0 }} Kommentare</h1>
                </div>
                <div class="p-8 flex-grow overflow-y-scroll">
                    {% if this.thread is not null %}
                        {% include 'comment/paragraph_comments_show.html.twig' with { thread: this.thread, comments: this.thread.getTopLevelComments((app.user and is_granted('own', statement))), more: true } %}
                    {% endif %}
                </div>
                <div class="bg-white p-8 border-t">
                    {% if app.user %}
                        {% if parent is not null %}
                            <button class="text-gray-600 hover:text-gray-800 p-1 -mt-1 hover:bg-white hover:border-gray-400 hover:shadow rounded-md float-right" data-action="live#action" data-action-name="resetParent"><i class="fas fa-fw fa-close"></i></button>
                            <h4><i class="far fa-comments"></i> Antwort an <em>{{ parent.author.email }}</em> schreiben</h4>
                            <p class="text-sm text-gray-500 bg-white border border-gray-100 rounded-md p-2 my-4">
                                {{ parent.text }}
                            </p>
                        {% else %}
                            <h4 class="mb-4"><i class="far fa-comment"></i> Neuen Kommentar schreiben</h4>
                        {% endif %}
                        {{ form_start(form, {'attr': {
                            'data-action': 'live#action',
                            'data-action-name': 'prevent|save'
                        }}) }}
                        {{ form_row(form.text, {
                            'attr': {
                                'class': 'h-20 w-full rounded-md',
                            },
                            'label': false,
                        }) }}
                        {{ form_row(form.submit, {'attr': {
                            'class': 'items-center rounded-md border border-blue-300 bg-blue-100 px-4 py-2 text-sm font-medium text-blue-500 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2',
                        }}) }}
                        {{ form_end(form) }}
                    {% else %}
                        <p class="text-gray-600 text-sm">Bitte <a href="{{ path('app_login') }}" class="text-blue-500 hover:text-blue-600">melden Sie sich an</a> um Kommentare zu schreiben.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

</div>
